<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="public/styles/style.css"> -->
  </head>

  <body>
    <div class="conversationTab">
      <div class="conversation-header">
        <!-- * check if there is any channels in db -->
        <% if (typeof data !='undefined' ) { %>
        <div><%= data[0].channelName %></div>
        <div id="channelId"><%= data[0]._id %></div>
        <% } %>

        <!-- * DM ----------------------------------- -->

        <% if (typeof dmUsers !='undefined' ) { %>
          <div ><%#= console.log(dmUsers)%> </div>

          <%for (dmUser of dmUsers) {%>
            <div>FROM:__ <%= reqUser._id%></div>
            <div id="dmId"><%= reqParams %></div>
          
          <% } %>
      </div>
        <!--loop through the current dm channel and get the message to display --> 
          <div class="chat-messages">
            <%for (currentDm of  dmUser.conversation) {%>
              <div class="eachMessageDiv">
                <div class="userPic"><img class="avatar" src="/uploads/<%= currentDm.userFrom.profilePic %>" alt=""> </div>

                <div class="messageBlock">
                  <div class="msgUser"><%=currentDm.userFrom.name  %> </div>
                  <p class="msgText"><%= currentDm.message%> </p>
                </div>
                <div ><%#= console.log(currentDm)%> </div>
              
              </div>

             <% } %>
          </div>
        <% } %>

    </div>


 <!--  MENTIONS:  CAN ONLY SEE CURRENT LOGGED IN USERS'S MESSAGES ---------------------------------> 
      <div class="mentionsDiv">
        <% if (typeof mentions !='undefined' ) { %> 
          
          <!-- * getting each channels data  -->

          <% for(channels of mentions){ %>
            <div class="mentionsChannels">
              <h3><%=channels.channelName %></h3>
              

          <% for(channelsConv of channels.conversation ){ %>

              <!-- only get the logged in users messages -->
              <% if(channelsConv.user._id == reqParams){ %> 
                
                <div class="">


                  <div class="eachMessageDiv">

                    <div class="userPic"><img class="avatar" src="/uploads/<%=channelsConv.user.profilePic  %> " alt=""></div>
                    
                    <div class="msgText"><%=channelsConv.message  %></div>
                  </div>
                </div>
                
              <%}  %> 
             
          <% } %> 

            </div>
            
            
          <% } %> 
        <% } %>
      </div>

      <div class="chat-messages">
        <!-- * new messages will appear fro channels   -->
      </div>


      <div class="messagefield">
        
        <form id="form">
          <input name="newMessage" id="msg" autocomplete="off" />
          <button id="submit-msg">send</button>
        </form>
      </div>





    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/scripts/main.js"></script>
    <script src="/public/scripts/dm.js"></script>
    <!-- <script src="/public/scripts/message.js"></script>  -->
  </body>
</html>
