<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="public/styles/style.css"> -->
  </head>

  <body>
    <div class="conversationTab">
      <div class="conversation-header">
        <!-- * check if there is any channels in db -->
        <% if (typeof data !='undefined' ) { %>
        <div><%= data[0].channelName %></div>
        <div id="channelId"><%= data[0]._id %></div>
        <% } %>

        <!-- Direct messages (DM) ------------------------------------------------------------------------------------------>

        <% if (typeof dmUsers !='undefined' ) { %>

          <%for (dmUser of dmUsers) {%>
            <div ><%= console.log(dmUser.userTo.name)%> </div>
            <div ><%= dmUser.userTo.name%> </div>
            <div class="dmUserFrom"> <%= reqUser._id%></div>
            <div id="dmId"><%= reqParams %></div>
          
          <% } %>
      </div>
        <!--loop through the current dm channel and get the message to display --> 
          <div class="chat-messages">
            <%for (currentDm of  dmUser.conversation) {%>

              <div class="eachMessageDiv">
                <!-- <div class="userPic"><img class="avatar" src="/uploads/<%#= currentDm.userFrom.profilePic %>" alt=""> </div> -->

                <div class="messageBlock">
                  <p class="msgText"><%= currentDm.message%> </p>
                </div>
              </div>
             <% } %>
          </div>
        <% } %>
    </div>


 <!--  MENTIONS:  CAN SEE CURRENT LOGGED IN USERS'S tagged messages --------------------------------------------------------------> 
      <div class="mentionsDiv">
        <% if (typeof mentions !='undefined' ) { %> 
          <% for(channels of mentions){ %>

          <% for(channelsConv of channels.conversation ){ %>
           <%  let msgStr = channelsConv.message %> 
            <% if(msgStr.includes("@" + reqUser.name )){ %> 
              
            <div class="mentionsChannels"> <img class="avatar" src="/uploads/<%=channelsConv.user.profilePic  %> " alt="">
              <%=channelsConv.user.name  %>  mentioned you in  <%=channels.channelName  %> 

              <div><%= channelsConv.message %> </div>
            </div>
            <%}  %> 
          <% } %> 
          <% } %> 
        <% } %>
      </div>

      <div class="chat-messages">
        <!-- * new messages will appear for channels   -->
      </div>


      <div class="messagefield">
        <form id="form">
          <input name="newMessage" id="msg" autocomplete="off" />
          <button id="submit-msg">send</button>
        </form>
      </div>





    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/scripts/main.js"></script>
    <script src="/public/scripts/dm.js"></script>
    <!-- <script src="/public/scripts/message.js"></script>  -->
  </body>
</html>
