<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="sidebar">
      <h2 class="sidebarHeader"> Workspace</h2>

      <div class="sidebarContent">
        <h3>Threads</h3>

        <div class="sidebarSections">
          <p>All DMS</p>
          
          <% if (typeof user !='undefined' ) { %>
            <a href="/mentions/<%= user._id %> ">
              <button class="channelButt">Mentions & reactions</button>
            </a>
            <% } %>
          
          
          
          <p>Saved items</p>

          <p>Channels</p>

          <a href="/channels">back</a>

          <!--  loop through channel from db -->
          <!--  check if there is any channels in db -->
          <% if (typeof data !='undefined' ) { %> 
            <% for (channel of data) { %>
          <div class="channelsDiv">
            <a href="/channels/<%=channel._id %>">
              <button class="channelButt"># <%=channel.channelName %></button>
            </a>
          </div>

          <% } %> 
          <% } %>

          <!-- * DM  -->
          <% if (typeof dmUsers !='undefined' ) { %> <%for (dmUser of dmUsers) { %>
            <div>
              <img class="avatar" src="/uploads/<%=dmUser.userTo.profilePic %> " alt="">
              <%= dmUser.userTo.name %>
            </div>
            <div><%= dmUser.userTo._id%></div>
    
            <% } %> <% } %>


            <!-- * MENTIONS -->
            <% if (typeof reqUser !='undefined' ) { %> 
                <div>
                  <img class="avatar" src="/uploads/<%=reqUser.profilePic %> " alt="">
                  <%=reqUser.name %> 
                </div>
            <% } %> 
            


          <div><button class="channelButt">Add Channel</button></div>

          <form method="POST" action="/channels/new">
            <input type="text" name="channelInput" id="" />
            <button>Add Channel</button>
          </form>

          <!--  logged in user -->

          <% if (typeof user !='undefined' ) { %>
          <div class="loggedUser">
            <img src="/uploads/<%=user.profilePic %> "alt="/uploads/default.png"class="avatar"/>
            
            <div class="users" id="userName"><%= user.name %></div>
          </div>
          <p ><%= user._id %></p>
          <p id="userId"><%= user._id %></p>
          <% } %>

          <div>Direct messages</div>

          <!-- all users in db under direct messages -->
          <% if (typeof allUsers !='undefined' ) { %> 
            <% for( let users of allUsers){%>

              <div class="loggedUser">
              
              <img src="/uploads/<%=users.profilePic %> "alt=""class="avatar"/>
              <a href="/dm/<%=users._id %>" class="channelButt"><button class="users">  <%= users.name %></button></a>
              
              </div>
            <%} %> 
          <% } %>

         


        </div>
      </div>

      <!-- todo -->
      <!-- make this pop up when clicked on add channel -->
    </div>
  </body>
</html>
